
/* Button CV *************************************/
.button-cv {
  color: #00FFFF;
  background-color: transparent;
  border: 1px solid #00FFFF;
  border-radius: 4px;
  padding: 1.25rem 4.75rem;
  font-family: 'Cutive Mono', monospace;
  line-height: 1;
  text-decoration: none;
  font-size: 20px;
}

.button-cv:hover {
  transition-duration: 0.5s;
  animation: ease-out;
  background-color: #FF0080;
  opacity: 0.99;
  color: #FFFFFF;
  border: #FF0080;
}

.container-buttonCV {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-buttonCV hr {
  height: 30vh;
  width: 1px;
  border-width: 0;
  color: #00FFFF;
  background-color: #00FFFF;
  margin-top: 0;
}


/* Link about *************************************/
/* .container-links {
  display: flex;
  max-width: 80%;
  width: 100%;
  flex-direction: column;
  margin-top: 0;
}

.link {
  background-color: transparent;
  max-width: 100%;
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  text-decoration: none;
  color: #64ffda;
  border: 1px solid #64ffda;
  margin-bottom: 20px;
  text-align: center;
}

.link:hover {
  background-color: rgba(100,255,218,0.1);
  color: #64ffda;
} */



/* Link nav footer *************************************/
/* .container-links-footer {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  padding-bottom: 2rem;
}

.link-footer {
  background-color: transparent;
  text-decoration: none;
  color: #64ffda;
  border: 1px solid #64ffda;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.link-footer:hover {
  background-color: rgba(100,255,218,0.1);
  color: #64ffda;
}

.btn-outline-warning {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
} */

/* ****************************************** */
/* MEDIA QUERIES */
/* ****************************************** */


/* Button download */
@media ( max-width: 500px ) {
  .button-cv {
    display: none;
  }
}

/* @media ( min-width: 501px ) {
  .container-links, .container-links-footer {
    display: none;
  }
}  */