.btnVisit {
	font-size: larger;
	text-align: center;
	background-color: #0a2d41;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	color: grey;
	display: flex;
	justify-content: center;
	opacity: 0.7;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	transition: 0.6s;
	width: auto;
}

.btnVisit:hover {
	background-color: #0a2d411a;
	color: #ffffff;
	opacity: 1;
	transition: 0.2s ease-in;
}

.txtEnDesarrollo {
	color: #fff;
	text-align: center;
}
