
/* Button CV *************************************/
.button-cv {
  color: #00FFFF;
  background-color: transparent;
  border: 1px solid #00FFFF;
  border-radius: 4px;
  padding: 1.25rem 4.75rem;
  font-family: 'Cutive Mono', monospace;
  line-height: 1;
  text-decoration: none;
  font-size: 20px;
}

.button-cv:hover {
  transition-duration: 0.5s;
  animation: ease-out;
  background-color: #FF0080;
  opacity: 0.99;
  color: #FFFFFF;
  border: #FF0080;
}

.container-buttonCV {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-buttonCV hr {
  height: 30vh;
  width: 1px;
  border-width: 0;
  color: #00FFFF;
  background-color: #00FFFF;
  margin-top: 0;
}




/* ****************************************** */
/* MEDIA QUERIES */
/* ****************************************** */

/* Button download */
@media ( max-width: 500px ) {
  .button-cv {
    width: 90%;
  }
}
