/* Contact component */
.container-contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-form {
  display: flex;
  justify-content: center;
}

.container-social {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}

.text-input {
  color: #fff;
  opacity: 0.3;
}




/* ContactForm component */
.form-contact {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem;
  background-color: transparent;
  width: 600px;
  font-family: sans-serif;
  src: url('../../fonts/FilsonProLight.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.alerta-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: #dc3545;
}

.button-submit-contact {
  background-color: transparent;
  text-decoration: none;
  color: #00FFFF;
  border: 1px solid #00FFFF;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: 'Cutive Mono', monospace;
  line-height: 1;
  text-decoration: none;
  font-size: 20px;
}

.button-submit-contact:hover {
  transition-duration: 0.5s;
  background-color: #FF0080;
  color: #FFFFFF;
  border: 1px solid #FF0080;
}

.button-submit-contact:focus {
  background-color: rgba(100, 255, 219, 0.041);
  color: #03CED3;
  border: 1px solid #03CED3;
}

textarea {
  resize: none;
}

.container-loader {
  display: flex;
  justify-content: center;
}


/* Media queries */
@media (max-width: 575px) {
  .formulario {
    width: 90%;
  }
  .container-contact {
    margin-top: 10rem;
  }
}