.container-home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-home {
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  font-style: regular;
}

.header-home h1 {
  font-size: clamp(30px, 8vw, 80px);
  color: #FFFFFF;
}

.header-home h3 {
  font-size: clamp(10px, 6vw, 60px);
  color: #909192;
}

.rectangle-home {
  border: 1px solid #00FFFF;
  padding: 1rem;
  transform: rotate(45deg);
  margin-top: 35px;
}