.col-text {
  border-radius: 10px;
  padding: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.card-info {
  width: 100%;
  margin: inherit;
  /* background-color: #0F1F35; */
  background-color: #0A2D41;
  border-style: none;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
}

.cardHeader-info {
  font-family: sans-serif;
  src: url('../../fonts/FilsonProBold.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.cardBody-info {
  font-family: sans-serif;
  src: url('../../fonts/FilsonProLight.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.item-list {
  /* background-color: #0F1F35; */
  background-color: #0A2D41;
  color: #FFFFFF !important;
}

.list-item {
  color: #8892b0;
  font-size: 17px;
  line-height: 1.3;
}

/*************************/

.col-img {
  border-radius: 10px;
  padding: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 303px;
}

.col-img img {
  height: auto;
  width: 300px;
}

.col-img img:hover {
  opacity: 0.9;
}

.card-img {
  width: auto;
  border-radius: 7px;
  height: auto;
  margin: inherit;
  /* background-color: #1A3047; */
  background-color: #0A2D41;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
}

.card-body-img {
  text-align: center;
  font-family: sans-serif;
  src: url('../../fonts/FilsonProLight.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}