.container-projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.rows-projects {
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  justify-content: center;
  row-gap: 1rem;
}

.col-project {
  padding: 10;
}

.col-project a {
  text-decoration: none;
  color: #eee;
}

.card-project {
  width: 350px;
  border: 2px solid #0A2D41;
  background-color: #0A2D41;

  
}

.card-project:hover {
  transform: translateY(-6px);
  transition: .8s;
  cursor: pointer;
  border-color: #FF0080;
  /* border-color: #EDFF00; */
  /* border-color: #00FFFF; */
}

.cardHeader-project {
  text-decoration: none;
  text-align: center;
}

.img-project {
  max-height: 100%;
  width: auto;
  padding-left: 2.7rem;
  padding-right: 2.7rem;
}

.cardText-project {
  font-size: medium;
  text-align: center;
}

.cardFooter-project {
  color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
}

.cardFooter-project:hover {
  color: #ffffff;
  /* border: 1px solid #FF0080; */
  background-color: #0A2D41;
}

.cardFooter-project img {
  height: 30px;
  width: auto;
}


/* Media Queries */
@media (max-width: 575px) {
  .container-projects {
    margin-top: 20rem;
  }
}