
.container-projects {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 10rem;
  padding-left: 16px;
  padding-right: 16px;
}

.rows-projects {
  padding-left: 12px;
  padding-right: 12px;
}


/* Media Queries */
@media ( max-width: 575px ) {
  .container-projects {
    margin-top: 20rem;
  }
}