.container-skills {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 16px;
	padding-right: 16px;
}

.col-skills {
	display: flex;
	justify-content: center;
}

.card-skill {
	width: 8rem;
	background-color: transparent;
	border: none;
}

.imgSkill {
	/* animation: pulse;
  animation-duration: 1s; */
	transform: scale(1.4);
	transition: 0.4s;
}

.row-card-skill {
	display: flex;
	justify-content: center;
	text-align: center;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	row-gap: 2rem;
}

img {
	width: 8rem;
	height: 7rem;
}

/* Media Queries */
@media (max-width: 575px) {
	.container-skills {
		margin-top: 10rem;
	}
}
