.container-skills {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 16px;
	padding-right: 16px;
}

.col-skills {
	display: flex;
	justify-content: center;
}

.card-skill {
	width: 5rem;
	background-color: transparent;
	border: none;
}

img {
	width: 7rem;
	height: auto;
	transition: 0.7s;
}

.imgSkill {
	transform: scale(1.5);
	transition: 0.5s;
}

.row-card-skill {
	display: flex;
	justify-content: center;
	text-align: center;
	width: auto;
	/* padding-left: 10px; */
	/* padding-right: 10px; */
	row-gap: 2rem;
}


/* Media Queries */
@media (max-width: 575px) {
	.container-skills {
		margin-top: 10rem;
	}
}
